<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorController</servlet-name>
        <servlet-class>controllers.servlets.AuthorLists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAuthor</servlet-name>
        <servlet-class>controllers.servlets.NewAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManuscriptsListing</servlet-name>
        <servlet-class>controllers.servlets.ManuscriptsListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchManuscripts</servlet-name>
        <servlet-class>controllers.servlets.SearchManuscripts</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.servlets.LoginController</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/login_control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorController</servlet-name>
        <url-pattern>/main.sx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAuthor</servlet-name>
        <url-pattern>/new_author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManuscriptsListing</servlet-name>
        <url-pattern>/mlist.sx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchManuscripts</servlet-name>
        <url-pattern>/search_m</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login_control</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/main</welcome-file>
    </welcome-file-list>
</web-app>
