<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../styler/design.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
                <div class="logo-bar">
                    <img src="../resc/logo-1.png" width="70" height="70" alt="logo-1"/>
                </div>
        <div class="nav-bar">trace</div>
                <!--<div class="top_bar">Trace Dashboard</div>-->
    </body>
</html>
