<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../styler/design.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="nav-bar"><strong>/trace</strong><p style="color: #ffffff;">Journal of Agriculture Science and Technology</p>
      </div>
        <div class="login-menu"><a href="admin/admin.jsp"  style="text-decoration: none; color:  #003333;">
                <span>Login</span></a></div>
    </body>
</html>
